<!-- app/views/comments/_comment.html.erb -->
<div id="<%= dom_id(comment) %>" class="mt-4" style="margin-left: <%= 20 * comment.depth %>px;">
  <div class="space-y-2">
<!--    <p class="text-gray-500">Depth: <%#= comment.depth %></p>-->
    <p class="text-gray-800"><strong>Content:</strong> <%= comment.content %></p>
    <p class="text-sm text-gray-600"><strong>Author:</strong> <%= comment.user.name %></p>
    <p class="text-sm text-gray-600"><%= link_to t('buttons.edit'), edit_comment_path(commit_id: comment.id), class: "inline-block px-3 py-1 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 transition-colors duration-150 ease-in-out" %></p>

    <%= link_to t('buttons.answer_comment'), new_comment_path(parent_id: comment.id, post_id: comment.post_id), class: "inline-block px-3 py-1 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 transition-colors duration-150 ease-in-out" %>

    <% if comment.replies.any? %>
      <div class="mt-4">
        <strong class="text-gray-800">Child Comments:</strong>
        <% comment.replies.each do |child_comment| %>
          <%= render 'comments/comment', comment: child_comment %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
