<%= form_with(model: comment, local: true, id: dom_id(comment), class: "max-w-lg mx-auto shadow-md overflow-hidden rounded-lg") do |form| %>
  <% if comment.errors.any? %>
    <div class="bg-red-100 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold"><%= pluralize(comment.errors.count, "error") %></strong>
      <span class="block sm:inline">prohibited this comment from being saved:</span>
      <ul class="list-disc pl-5">
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :post_id, value: @comment.post_id %>

  <% if @comment.parent_id.present? %>
    <%= form.hidden_field :parent_id, value: @comment.parent_id %>
  <% end %>


  <div class="px-6 py-4">
    <%= form.label :content, I18n.t('activerecord.attributes.comment.content'), class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :content, rows: 4, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
  </div>

  <div class="px-6 py-4 bg-gray-50 text-right">
    <%= form.submit I18n.t('helpers.submit.create', model: Comment.model_name.human), class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
  </div>
<% end %>
