<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold text-gray-900 mb-8">Liste des commentaires</h1>

  <ul class="space-y-4">
    <% @comments.each do |comment| %>
      <li class="bg-white border border-gray-200 rounded-md p-4 shadow-sm hover:shadow-md transition-shadow duration-150 ease-in-out">
        <h3 class="text-xl font-semibold text-blue-500"><%= comment.post.title %></h3>
        <p class="text-gray-600"><%= comment.content %></p>
        <p class="text-sm text-gray-500"> <%= t("labels.user.postcreatedby") %> <%= comment.user.name %> <%= time_ago_in_words(comment.created_at) %></p>
        <div class="flex space-x-2 mt-3">
          <%= link_to t("buttons.show"), comment_path(comment), class: "px-4 py-2 text-sm text-white bg-blue-500 rounded-md hover:bg-blue-600 transition-colors duration-150 ease-in-out" %>
          <%= link_to t("buttons.edit"), edit_comment_path(comment), class: "px-4 py-2 text-sm text-white bg-green-500 rounded-md hover:bg-green-600 transition-colors duration-150 ease-in-out" %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to t("buttons.create_post"), new_post_path, class: "mt-8 inline-block px-6 py-3 text-lg font-medium text-white bg-red-500 rounded-md hover:bg-red-600 transition-colors duration-150 ease-in-out" %>
</div>
