<div class="max-w-7xl mx-auto px-6 py-10 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Comments#new</h1>
  <p class="mb-8 text-gray-600">Find me in app/views/comments/new.html.erb</p>
  <%= link_to t("buttons.back"), comments_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-8" %>

  <%= form_with model: @comment, class: "space-y-6" do |form| %>
    <%= form.hidden_field :post_id, value: @comment.post_id %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="col-span-1 md:col-span-2">
        <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_area :content, rows: 5, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    </div>

    <div class="flex justify-end">
      <%= form.submit t("buttons.create"), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
