<%= form_with(model: user, local: true, id: dom_id(user), class: "max-w-4xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
  <% if user.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold"><%= pluralize(user.errors.count, "error") %></strong>
      <span class="block sm:inline">prohibited this user from being saved:</span>
      <ul class="list-disc pl-5">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, I18n.t('activerecord.attributes.user.name'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="mb-4">
    <%= form.label :password, I18n.t('activerecord.attributes.user.password'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="mb-6">
    <%= form.label :email, I18n.t('activerecord.attributes.user.email'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit I18n.t('helpers.submit.create', model: User.model_name.human), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>
