<!-- app/views/users/_user.html.erb -->
<div id="<%= dom_id user %>" class="bg-white shadow rounded-lg p-4 mb-6">
  <p class="font-bold text-lg mb-2">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p class="mb-2">
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <% if user.posts.any? %>
    <div class="mt-4">
      <strong>Posts:</strong>
      <ul class="list-disc pl-5">
        <% user.posts.each do |post| %>
          <li><%= link_to post.title, post_path(post), class: "text-indigo-600 hover:text-indigo-800" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user.comments.any? %>
    <div class="mt-4">
      <strong>Comments:</strong>
      <ul class="list-disc pl-5">
        <% user.comments.each do |comment| %>
          <li><%= render 'comments/comment', comment: comment %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
