<!-- app/views/users/index.html.erb -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center py-6">
    <h1 class="text-2xl font-bold text-gray-900"><%= t('users.index.title') %></h1>
    <%= link_to t('users.index.new_user'), new_user_path, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>

  <div id="users-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @users.each do |user| %>
      <div id="<%= dom_id user %>" class="bg-white shadow rounded-lg p-4">
        <h3 class="text-lg font-medium text-gray-900"><%= user.name %></h3>
        <p class="text-sm text-gray-500"><%= user.email %></p>
        <%= link_to t('users.index.show'), user_path(user), class: "mt-2 inline-flex items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
