<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl font-bold text-gray-900 py-6">New user</h1>

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <%= render "form", user: @user %>
  </div>

  <div class="mt-6">
    <%= link_to t("buttons.back"), users_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  </div>
</div>
