<!-- app/views/users/show.html.erb -->
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
  <div id="<%= dom_id @user %>" class="bg-white shadow rounded-lg p-6">
    <%= render "user", user: @user %>
  </div>
</div>
