<div class="container mx-auto px-4 mt-8">

  <h2 class="text-2xl font-semibold mb-6" style="color: #FF4500;">Bienvenue sur RedditTP !</h2>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <%= link_to t("buttons.showposts"), posts_path, class: "flex justify-center items-center px-6 py-3 border border-blue-500 text-lg font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out shadow-md" %>
    <%= link_to t("buttons.showcomments"), comments_path, class: "flex justify-center items-center px-6 py-3 border border-orange-500 text-lg font-medium rounded-md text-white bg-orange-500 hover:bg-orange-600 transition duration-150 ease-in-out shadow-md" %>
    <%= link_to t("buttons.showusers"), users_path, class: "flex justify-center items-center px-6 py-3 border border-green-500 text-lg font-medium rounded-md text-white bg-green-500 hover:bg-green-600 transition duration-150 ease-in-out shadow-md" %>
  </div>
</div>
