<%= form_with(model: post, local: true, id: dom_id(post), class: "space-y-6 bg-white shadow px-4 py-5 sm:p-6 rounded-md") do |form| %>
  <% if post.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold"><%= pluralize(post.errors.count, "error") %></strong>
      <span class="block sm:inline">prohibited this post from being saved:</span>
      <ul class="list-disc pl-5">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, I18n.t('activerecord.attributes.post.title'), class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>
  </div>

  <div class="field">
    <%= form.label :content, I18n.t('activerecord.attributes.post.content'), class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :content, class: 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md' %>
  </div>

  <div class="actions">
    <%= form.submit I18n.t('helpers.submit.create', model: Post.model_name.human), class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
  </div>
<% end %>
