<div class="max-w-lg mx-auto mt-8 bg-white shadow-md rounded-lg p-6">
  <h1 class="text-3xl font-bold mb-4">Modifier un post</h1>

  <%= link_to t("buttons.back"), posts_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-8" %>

  <%= render 'form', post: @post %>
</div>
