<div class="max-w-lg mx-auto mt-8 bg-white shadow-md rounded-lg p-6">
  <h1 class="text-3xl font-bold mb-4">Nouveau Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to t("buttons.create_post"), new_post_path, class:"block text-center text-sm text-gray-600 hover:text-gray-800 mt-4"%>
</div>